body{
    background-color: white;
}
#flex {
    display: flex;
    flex-direction: column;
    font-family: URW Chancery L, cursive;
}
nav {
    background-color: white;
}
main {
    background-color: #ADD8E6;
}
h1 {
    font-family: URW Chancery L, cursive;
   }
h2 {
    font-family: URW Chancery L, cursive;
   }
p {
    font-family: URW Chancery L, cursive;
}